<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section class="container">

        <h2>Список приглашений</strong></h2>
        <p>Здесь представлен список приглашений, отправленных вам работодателями с предложением принять участие в проектах. Всего <strong><%= current_user.invites_to_me.count %> <%= Russian.pluralize(current_user.invites_to_me.count, "приглашение", "приглашения", "приглашений") %></strong>.</p>
     

        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12">

<%= grid(@invites) do |g|

  g.blank_slate  do
    content_tag :div, "  <strong>Пока вам не было отправленно ни одного приглашения.</strong>".html_safe, class: 'alert alert-warning'
  end

  g.column name: 'Работодатель' do |invite|
    link_to invite.user.name, invite.user
  end

  g.column name: 'Вакансия' do |invite|
    link_to invite.vacancy.name, invite.vacancy
  end

  g.column name: 'Зарплата' do |invite|
    "#{invite.vacancy.price} рублей в час"
  end

  g.column name: 'Телефон работодателя' do |invite|
    invite.user.phone
  end

  g.column  name: 'Дата приглашения' do |invite|
    Russian::strftime(invite.created_at, "%d %B %Y")
  end

  g.column  name: 'Действия' do |invite|
    if current_user.reply?(invite.vacancy)
      @vacancy = invite.vacancy
       render '/vacancies/unfollow'
    else
      @vacancy = invite.vacancy
      render '/vacancies/follow'
    end
  end

  g.column  name: 'Действия' do |invite|
    link_to "Удалить", invite_path(invite), method: :delete, data: { confirm: "Вы уверены?" }
  end

end -%>




          </div>

      </section>

    </div>
    <!-- /WRAPPER -->