<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

			<section class="container">

				<%= render "/shared/important" %>
            
				<h2>Потому что <strong>Вы</strong> лучшие!</h2>
				
				<p class="lead">Во время подготовки к проведению btl-акции одним из самых важных вопросов является набор персонала. Особенно остро эта проблема встаёт при проведении крупных акций во многих точках города с привлечением большого числа промоутеров. Координатор проекта сталкивается с тем, что ежедневно около 10% персонала по той или иной причине не выходят на работу.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<h3>Проблемы при поиске промоутеров</h3>

				<p>Как обычно промо-агентства решают проблему нехватки персонала? В небольших фирмах этим вопросом, как правило, занимается координатор btl проекта. Он ищет промоутеров из базы агентства, привлекает и из числа своих знакомых. Если позволяет бюджет - размещает объявления на специализированных ресурсах по поиску персонала. Минус такого подхода заключается в увеличении трудозатрат координатора. Вместо того, чтобы сконцентрироваться на организационных функциях менеджер проекта распыляется на работу кадровика. Общая эффективность работы в таких случаях падает. Координатор, который в нормальных условиях может вести до 3-4 акций одновременно теперь занимается 1-2.</p>
									<img class="pull-right inner img-thumbnail img-responsive" src="/images/promoters.jpg" alt="image" />
				<p>В агентствах покрупнее в штатном расписании появляется строчка "специалист по подбору персонала". Его задача - формирование базы промоутеров. Здесь в ход идут все те же способы подбора кадров: объявления в специализированных сервисах, расклейка объявлений, реклама в Контакте, личные связи.</p>

				<p>Минусом обоих примеров работы с промоутерами является стоимостной фактор. А при самостоятельной работе координатора падает ещё и эффективность проведения мероприятия. Пожалуй самым действенным способом при минимальных затратах времени является размещение вакансии в специализированных сервисах. Однако такие сервисы рассчитаны на широкий круг вакансий. Практически нет сервисов по подбору именно промо-персонала. К тому же стоимость таких услуг является сопоставимой с зарплатой специалиста по кадрам, а значит выгода от их использования существенно уменьшается.</p>
				<p>Предлагаем вашему вниманию новейший сервис по подбору промоутеров. Мы специализируемся исключительно на людях, желающих принять участие в btl-акциях.</p>
				<p></p>
				<div class="testimonial classic male"><!-- full width -->
					<p>Использование новейших технологий при подборе промоутеров существенно облегчает процесс организации btl-акций и увеличивает эффективность работы координатора проекта.</p>
					<cite><strong>Никита Сергеевич</strong>, Исполнительный директор ООО "Инфоком-НН"</cite>
				</div>

				<h3>Как работает сервис по поиску промоутеров?</h3>
				<p>Мы самостоятельно рекламируем наш сервис в интернете. Более половины дохода проекта уходит на продвижение ресурса www.allpromoters.ru Наша задача - собрать самую актуальную базу промоутеров в рунете. Для этого мы активно используем рекламу в популярных социальных сетях, рекламу на Яндексе и Гугле.</p>
				<p>При переходе на наш сайт, потенциальный промоутер начинает процедуру регистрации. Зарегистрироваться в "клубе промоутеров" можно через специальную форму, либо через Facebook или Вконтакте. Сразу после регистрации соискатель заполняет анкету. В нашей базе промоутеров присутствуют только анкеты с фотографиями и номерами телефонов.</p>
				<p>После заполнения анкеты промоутер появляется в общей базе данных. Его данные доступны для всеобщего просмотра. Однако информация о номере телефонов отображается только для зарегистрированных пользователей в статусе "Работодатель".</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">

						<div class="testimonial white">
							<h4>Почему компании выбирают именно наши сайты?</h4>
							<p>Мы используем инновационные технологии. Наш сервис разработан на современном фреймворке Ruby on Rails.</p>
						</div>

					</div>
					<div class="col-md-4">
						<h4>Почему Вы будете сотрудничать именно с нами?</h4>
						<div class="testimonial color2">
							<p>Наш сервис рассчитан на самый широкий круг пользователей. За счёт количества заказчиков мы имеем возможность сделать стоимость использования сервиса минимальной.</p>
						</div>
					</div>
					<div class="col-md-4">
						<h4>Почему сотрудничество станет долгосрочным?</h4>
						<div class="testimonial color1">
							<p>Btl-агентства использовав наш сервис получают готовую и структурированную базу промоутеров. Это значительно облегчает работу при проведении проекта. К хорошему быстро привыкаешь.</p>
						</div>
					</div>
				</div>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<!-- THREE COLUMNS PRICETABLE -->
				<div class="row pricetable-container">

					<div class="col-md-4 price-table">
						<h3>Доступ к контактам</h3>
						<p>	
							<%= money(Settings.period_price) %><br><br>
							<span>за месяц</span>
						</p>

						<ul>
							<li>Вы получайте доступ ко всем резюме</li>
							<li>Контакты добавленных в избранное промоутеров доступны навсегда</li>
						</ul>
					</div>

					<div class="col-md-4 price-table popular">
						<h3>Размещение вакансий</h3>
						<p>	
							<%= money(Settings.vacancy_price) %><br><br>
							<span>за вакансию</span>
						</p>
						<ul>
							<li>Вашу вакансию увидят все посетители сервиса</li>
							<li>Все подходящие под ваши требования промоутеры получат уведомления по email</li>
						</ul>
					</div>

					<div class="col-md-4 price-table">
						<h3>Отправка SMS</h3>
						<p>	
							<%= money(Settings.sms_price) %><br><br>
							<span>за 1 SMS</span>
						</p>
						<ul class="pricetable-items">
							<li>SMS отправляются только промоутерам, подходящим под требования вашей вакансии</li>
							<li>Отправка всех sms одной кнопкой</li>
						</ul>
					</div>

				</div>
				<!-- /THREE COLUMNS PRICETABLE -->


				<%= render "/shared/callout" %>
			
			</section>

		</div>
		<!-- /WRAPPER -->
