		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- SLIDER -->
							<section id="home" data-stellar-background-ratio="0.5">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-sm-6">

								<div class="flexslider" id="flexHome">
									<ul class="slides">
										<li>
											<h1>КЛУБ ПРОМОУТЕРОВ</h1>
											<h2>Крупнейшая база промоутеров и работодателей</h2>

										</li>
										
									</ul>
								</div> 



							</div>
							<div class="col-lg-5 col-sm-6 hidden-xs">
								<img src="images/slider/2.png" alt="Найти временную работу промоутером" class="img-responsive" />
							</div>
						</div>
					</div>
				</section>
			



			<!-- FILTER BOX -->
			<section class="container re-filterbox no-top"><!-- add "styleBackground" class for colored box -->

<%= render "/shared/filter" %>


			</section>
			<!-- /FILTER BOX -->
        <% flash.each do |key, value| %>
	        <section class="container">
		        <div class="col-md-12">
		            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		        </div>
	    	</section>
        <% end %>


<%= render '/shared/moremenu' %>

<section class="paddings white-row container">
								<div class="row text-center countTo">
									<div class="col-md-4">
										<strong data-to="<%= User.where(:status => "promo").count %>">0</strong>
										<label><%= Russian.pluralize(User.where(:status => "promo").count, "Промоутер", "Промоутера", "Промоутеров") %></label>
									</div>
									<div class="col-md-4">
										<strong data-to="<%= User.where(:status => "agent").count %>">0</strong>
										<label><%= Russian.pluralize(User.where(:status => "agent").count, "Работодатель", "Работодателя", "Работодателей") %></label>
									</div>
									<div class="col-md-4">
										<strong data-to="<%= Vacancy.all.count %>">0</strong>
										<label><%= Russian.pluralize(Vacancy.all.count, "Вакансия", "Вакансии", "Вакансий") %></label>
									</div>
								</div>
							</section>


	<section id="portfolio" class="container">

				<h2>Добро пожаловать в <strong>Клуб Промоутеров</strong></h2>

				<p class="lead"> 

					Найти промоутера не так просто, как может показаться на первый взгляд. Команда разработчиков проекта allpromoters.ru принимала участие в организации btl-акций по всей России. Мы решили, что современные технологии могут помочь найти временную работу промоутером. Наш проект предлагает к вашим услугам сотни контактов людей, которые хотят работать промоутером. Спешите пользоваться!</p>

							<div class="divider styleColor"><!-- divider -->
								<i class="fa fa-leaf"></i>
							</div>


					<h3>Новые вакансии</h3>
					<p>Последние <i>3 открытых вакансии</i>. Для просмотра полного списка зайдите раздел "Вакансии".</p>

                                <% @vacancies.each do |vacancy| %>
                                <!-- items -->

                        <!-- article summary -->
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <%= link_to image_tag(vacancy.user.avatar.thumb.url, :class => "img-responsive", :alt => vacancy.user.name, :title => vacancy.name), vacancy_path(vacancy) if !vacancy.user.nil? %>
									<% if current_user && current_user.status == "promo" %>
									<br>
									  <% if current_user.reply?(vacancy) %>
									    <% @vacancy = vacancy %>
									    <%= render '/vacancies/unfollow' %>
									  <% else %>
									    <% @vacancy = vacancy %>
									    <%= render '/vacancies/follow' %>
									  <% end %>
									<% elsif !current_user %>
									    <br>
									    <a href="/users/sign_up" class="btn btn-success">Откликнуться на вакансию</a>
									<% end %>
                            </div>
                            <div class="col-md-8">

                                <h4><%= link_to vacancy.name, vacancy_path(vacancy), :class => "styleColor" %></h4>

                                <small><strong>Организатор: </strong><%= link_to vacancy.user.name_with_rate, user_path(vacancy.user) %></small>
                                <p>
                                    <% if vacancy.description.blank? %>
                                        В данной вакансии отсутствует дополнительное описание. Мы рекомендуем рекламодателям полностью заполнять формы вакансий: это стимулирует потенциальных сотрудников к работе с вами.
                                    <% else %>
                                        <%= truncate_html(vacancy.description, length: 250, omission: '...') %>
                                    <% end %>
                                </p>
                                <p>
                                    <span class="fsize12 pull-right">
                                        <strong><span class="styleSecondColor"><%= vacancy.price %></span> рублей в час</strong><br><br><br>
                                        <%= link_to "Посмотреть вакансию", vacancy_path(vacancy), :class => "btn btn-info" %>
                                    </span>

                                    <strong>Дата начала акции: </strong><span class="styleSecondColor"><%= Russian::strftime(vacancy.start_date, "%d %B %Y") %></span><br>
                                    <strong>Дата окончания акции: </strong><span class="styleSecondColor"><%= Russian::strftime(vacancy.finish_date, "%d %B %Y") %></span><br>
                                    <strong>Количество промоутеров: </strong><span class="styleSecondColor"><%= vacancy.amount %> <%= Russian.pluralize(vacancy.amount, "человек", "человека", "человек") %></span><br>
                                    <strong>Местоположение: </strong><span class="styleColor"><%= link_to "#{vacancy.city.name} <i class='fa fa-external-link'></i>".html_safe, vacancy_city_path(vacancy.city) %>
                                </p>
                            </div>
                        </div>
                        <!-- /article summary -->
        					<hr>
                                <% end %>

                        <div class="divider styleColor"><!-- divider -->
								<i class="fa fa-leaf"></i>
						</div>


				<h3>Новые промоутеры</h3>
					<p>Последние <i>16 зарегистрировавшихся промоутеров</i>. Для просмотра полного списка зайдите в базу.</p>

				<div class="row">

					<ul class="sort-destination isotope" data-sort-id="isotope-list">

					<% @promoters.each do |promoter| %>
						<li class="isotope-item col-sm-6 col-md-3 development"><!-- item -->
							<div class="item-box">
								<figure>
									<a class="item-hover" href="<%= user_path(promoter) %>">
										<span class="overlay color2"></span>
										<span class="inner">
											<span class="block fa fa-plus fsize20"></span>
											<strong>ПОДРОБНАЯ</strong> ИНФОРМАЦИЯ
										</span>
									</a>
									<%= image_tag promoter.avatar.thumb.url, :class => "img-responsive", :alt => "#{promoter.name} #{promoter.surname}", :title => "Промоутер: #{promoter.name} #{promoter.surname}" %>
								</figure>
								<div class="item-box-desc">
									<h4><%= promoter.name_with_rate %></h4>
									<small class="styleColor"><%= link_to promoter.city.name, promo_city_path(promoter.city) %></small>
				                    <span class="fsize12 pull-right">
					                    <%= "<i class='fa fa-medkit styleSecondColor' title='Имеется медицинская книжка'></i>".html_safe if promoter.med %>
					                    <%= " <i class='fa fa-truck styleSecondColor' title='Имеется автомобиль'></i>".html_safe if promoter.car %>
					                    <%= " <i class='fa fa-vk styleSecondColor' title='Аккаунт Вконтакте'></i>".html_safe if promoter.vk_url %>
					                    <%= " <i class='fa fa-facebook styleSecondColor' title='Аккаунт Facebook'></i>".html_safe if promoter.facebook_url %>
				                    </span>
								</div>
							</div>
						</li>
					<% end %>
					</ul>

				</div><!-- /.masonry-container -->



			</section>

<%= render "/shared/callout" %>

     <!-- PARALLAX -->
      <section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('/images/road.jpg');">
        <span class="overlay"></span>

        <div class="container">

          <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in">
              <h2><strong>Добро пожаловать!</strong></h2>
              <p class="lead">
                Целью нашего проекта является помочь всем желающим найти работу промоутером. Промоутеры в Москве, промоутеры в Нижем Новгороде, промоутеры в Санкт-Петербурге - для всех городов России btl-агентства ищут промоутеров именно у нас!
              </p>
              <p>
                 Для работодателя поиск промоутеров является задачей долгой и весьма затратной. Посудите сами - для формирования хорошей базы промоутеров нужны месяцы и сотни часов работы специалиста по кадрам. А ведь именно от качества промоутеров, от их готовности выйти на работу, зависит успех промо-акции.
              </p>

              <a class="btn btn-primary btn-lg" href="/uslugi.html">Узнать больше</a>
            </div>

            <!-- right image -->
            <div class="col-md-5 animation_fade_in">
              
            </div>
          </div>
        </div>
      </section>
      <!-- PARALLAX -->



		</div>
		<!-- /WRAPPER -->