
    <!-- WRAPPER -->
    <div id="wrapper">

      <div id="shop">

        <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render "/shared/moremenu" %>

        <section class="container">

          <div class="row">

            <div class="col-md-9">

              <% if current_user && current_user.status == "admin" %>

                <ul>
                  <li><strong>Количество промоутеров:</strong> <%= User.where(:status => "promo").count %></li>
                  <li><strong>Из них полностью заполнено:</strong> <%= User.where("avatar IS NOT NULL AND city_id IS NOT NULL AND name IS NOT NULL AND phone IS NOT NULL AND status = ?", "promo").count %></li>
                  <br>
                  <li><strong>Количество работодателей:</strong> <%= User.where(:status => "agent").count %></li>
                  <li><strong>Количество вакансий:</strong> <%= Vacancy.all.count %></li>
                  <br>
                  <li><strong>Количество приглашений:</strong> <%= Invite.all.count %></li>
                  <li><strong>Из них прочитано:</strong> <%= Invite.where(:see => true).count %></li>
                  <br>
                  <li><strong>Количество откликов:</strong> <%= Reply.all.count %></li>
                  <li><strong>Из них прочитано:</strong> <%= Reply.where(:see => true).count %></li>
                  <hr>
                  <li><strong>Стоимость 1-ого месяца:</strong> <%= money(Settings.period_price.to_i) %></li>
                  <li><strong>Стоимость вакансии:</strong> <%= money(Settings.vacancy_price.to_i) %></li>
                  <li><strong>Стоимость SMS:</strong> <%= money(Settings.sms_price.to_i) %></li>
                  <li><strong>Балланс SMS:</strong> <%= balance %> руб.</li>
                  <br>
                  <li><strong>Средств на счетах:</strong> <%= money(User.where(:status => "agent").sum(:pocket).to_i) %></li>
                </ul>

                <% if Settings.action == "true" %>
                <br><br>
                  <div class="alert alert-danger">
                    <i class="fa fa-check-circle"></i> 
                    <strong>Внимание!</strong> Действует акция. Каждый новый работодатель получает <strong><%= money(Settings.action_money.to_i) %></strong>
                  </div>
                <% end %>

              <% else %>
                <p>У вас нет прав доступа в этот раздел.</p>
              <% end %>

            </div><!-- /col-md-9 -->



          </div><!-- /row -->

        </section>

      </div>
    </div>
    <!-- /WRAPPER -->
