<link href="/plugins/blog.css" rel="stylesheet" type="text/css" />

<!-- WRAPPER -->
		<div id="wrapper">

			<div id="blog">

				<!-- PAGE TITLE -->
				<%= render "/shared/bread" %>

				<%= render '/shared/moremenu' %>

				<section class="container">

					<div class="row">
						<div class="left col-md-9" itemscope itemtype="http://schema.org/NewsArticle">

							<!-- article title -->
							<header class="blog-post">
								<meta itemprop="genre" content="Новости Клуба промоутеров">
								<h1 itemprop="headline"><%= @article.name %></h1>
								<meta itemprop="author" content="Клуб промоутеров">
								<small class="fsize13">
									<meta itemprop="dateCreated" content="<%= @article.created_at.to_time.iso8601 %>">
									 
									<span class="label label-default light"><%= Russian::strftime(@article.created_at, "%d %B %Y") %></span>
									<span class="label label-default light"><%= @article.user_id %></span>
								</small>
							</header>
									<%= image_tag @article.picture.url, :class => "img-responsive", :alt => @article.name, :title => @article.name, :itemprop => "image" %>
									<br>
							<!-- article content -->
							<article itemprop="description">
								<%= @article.text.html_safe %>
							</article>

							              <!-- SOCIAL -->
              <p class="socials">
                <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
                }})();</script>
                <div class="pluso pull-right" data-background="#ebebeb" data-options="big,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google" data-user="1766695154"></div>
              </p>
						<hr>
						

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

<script type="text/javascript">
  VK.init({apiId: 4523833, onlyWidgets: true});
</script>

<!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: false});
</script>

</div>

						<!-- SIDEBAR -->
						<%= render "/shared/rightcolumn" %>

					</div>

				</section>

			</div>
		</div>
		<!-- /WRAPPER -->
