


        <!-- WRAPPER -->
        <div id="wrapper">

            <div id="shop">

                <!-- PAGE TITLE -->
            <%= render "/shared/bread" %>

            <%= render "/shared/moremenu" %>

                <section class="container">

                    <div class="row">

                        <div class="col-md-9">

                    
                            <div class="row">
<% if @vacancies.blank? %>
  <strong>По вашему запросу не найдено ни одной вакансии.</strong>
<% else %>                            

                                <% @vacancies.each do |vacancy| %>
                                <!-- items -->

                        <!-- article summary -->
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <%= link_to image_tag(vacancy.user.avatar.thumb.url, :class => "img-responsive", :alt => vacancy.user.name, :title => vacancy.name), vacancy_path(vacancy) %>
<% if current_user && current_user.status == "promo" && current_user.city == vacancy.city %>
<br>
  <% if current_user.reply?(vacancy) %>
    <% @vacancy = vacancy %>
    <%= render 'unfollow' %>
  <% else %>
    <% @vacancy = vacancy %>
    <%= render 'follow' %>
  <% end %>
<% elsif !current_user %>
    <br>
    <a href="/users/sign_up" class="btn btn-success">Откликнуться на вакансию</a>
<% end %>
                            </div>
                            <div class="col-md-8">

                                <h4><%= link_to vacancy.name, vacancy_path(vacancy), :class => "styleColor" %></h4>

                                <% if vacancy.user == current_user %>
                                  <%= link_to "Изменить вакансию", edit_vacancy_path(vacancy), :class => "btn btn-xs btn-info" %>
                                  <%= link_to "Удалить вакансию", vacancy_path(vacancy), method: :delete, data: { confirm: "Вы уверены?" }, :class => "btn btn-xs btn-danger" %><br><br>
                                <% end %>

                                <small><strong>Организатор: </strong><%= link_to vacancy.user.name_with_rate, user_path(vacancy.user) %></small>
                                <p>
                                    <% if vacancy.description.blank? %>
                                        В данной вакансии отсутствует дополнительное описание. Мы рекомендуем рекламодателям полностью заполнять формы вакансий: это стимулирует потенциальных сотрудников к работе с вами.
                                    <% else %>
                                        <%= truncate_html(vacancy.description, length: 250, omission: '...') %>
                                    <% end %>
                                </p>
                                <p>
                                    <span class="fsize12 pull-right">
                                        <strong><span class="styleSecondColor"><%= vacancy.price %></span> рублей в час</strong><br><br><br>
                                        <%= link_to "Посмотреть вакансию", vacancy_path(vacancy), :class => "btn btn-info" %>

                                    </span>

                                    <strong>Дата начала акции: </strong><span class="styleSecondColor"><%= Russian::strftime(vacancy.start_date, "%d %B %Y") %></span><br>
                                    <strong>Дата окончания акции: </strong><span class="styleSecondColor"><%= Russian::strftime(vacancy.finish_date, "%d %B %Y") %></span><br>
                                    <strong>Количество промоутеров: </strong><span class="styleSecondColor"><%= vacancy.amount %> <%= Russian.pluralize(vacancy.amount, "человек", "человека", "человек") %></span><br>
                                    <strong>Местоположение: </strong><span class="styleColor"><a href="#"><%= vacancy.city.name %> <i class="fa fa-external-link"></i></a>
                                </p>

                            </div>
                        </div>
                        <!-- /article summary -->

                        <div class="divider"><!-- divider -->
                            <i class="fa fa-star"></i>
                        </div>

                    

                                <% end %>

              <!-- PAGINATION -->
              <div class="text-center">
                <%= paginate @vacancies %>
              </div>
              <!-- /PAGINATION -->
<% end %>                            
                            </div>

                        </div><!-- /col-md-9 -->


                        <aside class="col-md-3">

                        

                        </aside>

                    </div><!-- /row -->

                </section>

            </div>
        </div>
        <!-- /WRAPPER -->
