    <!-- WRAPPER -->
    <div id="wrapper">

      <div id="shop">

        <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render "/shared/moremenu" %>

        <section class="container">

          <div class="row">

            <div class="col-md-9">

<% if @promoters.blank? %>
  <strong>По вашему запросу не найдено ни одного промоутера.</strong>
<% else %>
              <div class="row top-shop-option">
                <div class="col-sm-5 col-md-5">
                  <p>Найдено: <strong><%= @users.count %></strong> <%= Russian.pluralize(@promoters.count, "промоутер", "промоутера", "промоутеров") %></p>
                </div>
                <div class=" col-sm-7 col-md-7">

                  <p>Сортировка: <%= sort_link @search, :birth, "по возрасту" %> | 
                  <%= sort_link @search, :last_sign_in_at, "по дате последнего входа на сайт" %> </p>

                </div>


              </div>
<% end %>
            
              <div class="row">
              
                <%= render :partial => 'promoters', :object => @promoters %>
              
              </div>

              <!-- PAGINATION -->
              <div class="text-center">
                <%= paginate @promoters %>
              </div>
              <!-- /PAGINATION -->

            </div><!-- /col-md-9 -->

            <aside class="col-md-3">
              <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-thumbs-o-up"></i>ВЫБОР ГОРОДА</a>
              <br><br>
              <%= render "/shared/city_search" %>

              <%= render "/shared/search_form" %>

            </aside>

          </div><!-- /row -->

        </section>

      </div>
    </div>
    <!-- /WRAPPER -->
