<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section id="portfolio" class="container">

        <h2><strong><%= @promoter.name_with_rate %></strong></h2>


        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-sm-5 col-md-7">
            <div class="controlls-over product-image">
              <div>
                <%= image_tag @promoter.avatar.url, :class => "img-responsive" %>
              </div>
            </div>

          </div>

          <div class="col-sm-7 col-md-5">
            <% if @promoter == current_user %>
              <%= link_to "Удалить анкету", admin_destroy_user_path(current_user), method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger" %><br><br>
            <% end %>

          <% if @promoter.status == "promo" %>
            <% if @promoter == current_user %>
              <h3>Так Ваша анкета выглядит у работодателей</h3>
            <% else %>
              <h3>Вы можете нанять этого промоутера на работу</h3>
            <% end %>
          <% else %>
            <h3>Данные о работодателе</h3>
          <% end %>

            <ul class="list-icon">
              <% if @promoter.status == "promo" %>

                <li> <%= link_to "Аккаунт Вконтакте", @promoter.vk_url, :target => "_blank" if @promoter.vk_url%></li>
                <li> <%= link_to "Аккаунт Facebook", @promoter.facebook_url, :target => "_blank" if @promoter.facebook_url %></li>
                <br>
                <li><i class='fa fa-certificate'></i> Рейтинг: <%= color_rate(@promoter.rate) %></li>
                <br>
                <li><i class='fa fa-flag'></i> Страна: <%= @promoter.city.state.country.name %></li>
                <li><i class='fa fa-bookmark-o'></i> Город: <%= link_to @promoter.city.name, promo_city_path(@promoter.city) %></li>
                
                <br>
                <li><i class='fa fa-male'></i> Пол: <%= @promoter.gender %></li> 
                <% if @promoter.birth != nil %>
                <li><i class='fa fa-clock-o'></i> Возраст: <%= "#{calculate_age(@promoter.birth)} #{Russian.pluralize(calculate_age(@promoter.birth), "год", "года", "лет")}" %>
                <% end %>
                <br>
                <li><i class='fa fa-medkit'></i> Наличие медицинской книжки: <%= have_it(@promoter.med) %></li>
                <li><i class='fa fa-truck'></i> Наличие автомобиля: <%= have_it(@promoter.car) %></li>
              <% else %>
                <li><i class='fa fa-certificate'></i> Рейтинг: <%= color_rate(@promoter.rate) %></li>
                <br>
                <li><i class='fa fa-flag'></i> Страна: <%= @promoter.city.state.country.name %></li>
                <li><i class='fa fa-bookmark-o'></i> Город: <%= link_to @promoter.city.name, agent_city_path(@promoter.city) %></a></li>
                
                <% if !@promoter.site.blank? %>
                  <br>
                  <li><i class='fa fa-link'></i> Сайт: <%= link_to "www.#{@promoter.site}", "http://#{@promoter.site}", :target => "_blank" %></a></li>
                <% end %>
              <% end %>
            </ul>
            <br>

            <% if current_user and current_user.status == "agent" %>
              <% if Settings.status == "production" && Settings.period_cost == "true" %>
                <%= period_phone %>
              <% else %>
                <strong class="alert alert-success"><i class='fa fa-phone'></i> Номер телефона: <%= @promoter.phone %></strong>
              <% end %>
            <% elsif current_user and current_user.status == "admin" %>
              <strong class="alert alert-success"><i class='fa fa-phone'></i> Номер телефона: <%= @promoter.phone %></strong>
            <% elsif current_user and current_user.status == "promo"  %>
              <p class="alert alert-warning">Только пользователи в статусе "Работодатель" имеют доступ к базе телефонов.</p>
            <% elsif @promoter.status == "agent" %>
              <strong class="alert alert-success"><i class='fa fa-phone'></i> Номер телефона: <%= @promoter.phone %></strong>
            <% else  %>
              <p class="alert alert-warning">Только зарегистрированные пользователи в статусе "Работодатель" могут видеть номер телефона. <a href="/users/sign_up">Зарегистрироваться</a></p>
            <% end %>


              <% if @promoter.status == "agent" && @promoter.vacancies.count > 0 %>
              <br><br><br>
                <h3>Вакансии данного работодателя</h3>
                <ul>
                <% @promoter.vacancies.order("created_at DESC").page(params[:page]).per(5).each do |vacancy| %>
                  <li>Название: <%= link_to vacancy.name, vacancy_path(vacancy) %> | <%= Russian::strftime(vacancy.created_at, "%d %B %Y") %> | <%= link_to "Посмотреть вакансию", vacancy_path(vacancy) %></li>
                <% end %>
                </ul>
                              <!-- PAGINATION -->
              <div class="text-center">
                <%= paginate @promoter.vacancies.order("created_at DESC").page(params[:page]).per(5) %>
              </div>
              <!-- /PAGINATION -->
              <% end %>
</div>
</div>

        <div class="row">
          <div class="col-md-12">
            
<br><br>
<h3><strong>Дополнительная информация</strong></h3>
<% if @promoter.description.blank? && @promoter.status == "promo" %>
  <p>Промоутер не указал дополнительной информации о себе.</p>
<% elsif @promoter.description.blank? && @promoter.status == "agent" %>
  <p>Работодатель не указал дополнительной информации о себе.</p>
<% else %>
  <p><%= @promoter.description.html_safe %></p>
<% end %>


<% if current_user && @promoter.status == "promo" && current_user.status == "agent" %>
  <div id="follow_form">
  <% if current_user.following?(@promoter) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>

              <!-- SOCIAL -->
              <p class="socials">
                <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
                }})();</script>
                <div class="pluso pull-right" data-background="#ebebeb" data-options="big,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google" data-user="1766695154"></div>
              </p>
  

          </div>
            <div class="divider"><!-- divider -->
              <i class="fa fa-star"></i>
            </div>
            
            <%= render "/shared/important" %>


            <%= render "/opinions/opinions" %>

            <div class="divider"><!-- divider -->
              <i class="fa fa-star"></i>
            </div>

            <% if @promoters.count > 0 && @promoter.status == "promo" %>
              <%= render "/shared/related_promos" %>
            <% elsif @agents.count > 0 && @promoter.status == "agent" %>
              <%= render "/shared/related_agents" %>
            <% end %>
      </section>

    </div></div>
    <!-- /WRAPPER -->