<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section class="container">
      <% if current_user.status == "promo" %>
        <h2>Список <strong>btl-агентств </strong></h2>
        <p>Данные агентства добавили Вас в список своих постоянных промоутеров.</p>
      <% elsif current_user.status == "agent" %>
        <h2>Список <strong>отобранных промоутеров</strong></h2>
        <p>Данные промоутеры были добавленны вами в список избранных контактов.</p>
      <% end %>      

        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12">

<% if @users.blank? %>
  <div class="alert alert-warning">
    <strong>Пока ни один работодатель не поместил ваш аккаунт в список избранных промоутеров.</strong>
  </div>
<% else %>
  <table  class="table-striped table-bordered table wice-grid">
    <thead>
      <tr  class="wice-grid-title-row">
        <th>ФИО</th>
        <th>Телефон организатора</th>
        <th>Город</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="odd">
        <% @users.each do |user| %>
          <td><%= link_to "#{user.name} #{user.surname}", user %></td>
          <td><%= user.phone %></td>
          <td><%= user.city.name %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

          </div>

      </section>

    </div>
    <!-- /WRAPPER -->