            <!-- modal dialog -->
            <div class="modal fade" id="<%= specification %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header"><!-- modal header -->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">ФОРМА ЗАКАЗА</h4>
                  </div><!-- /modal header -->

                  <!-- modal body -->
                  <div class="modal-body">
                              
              <div class="row">
                <div class="col-md-12">
                  
<%= search_form_for @search do |f| %>
                                      <label><strong>Страна:</strong></label><br>
<%= f.collection_select :country_id_eq,  Country.all,  :id, :name, {:prompt   => "Выберите страну"}, {:id => 'countries_select'} %>
<br>

<label><strong>Регион:</strong></label><br>
<%= f.collection_select :state_id_eq, State.all, :id, :name, {:prompt   => "Выберите регион"}, {:id => 'states_select'} %>
<br>


<label><strong>Город:</strong></label><br>
<%= f.collection_select :city_id_eq, City.all, :id, :name, {:prompt   => "Выберите город"}, {:id => 'cities_select'} %>


<script type="text/javascript">
  $(document).ready(function() {
    $('#countries_select').change(function() {
      $.ajax({
        url: "<%= update_states_path %>",
        data: {
          country_id : $('#countries_select').val()
        },
        dataType: "script"
      });
    });
    $('#states_select').change(function() {
      $.ajax({
        url: "<%= update_cities_path %>",
        data: {
          state_id : $('#states_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>

<% end %>
                </div>
              </div>
</div>

                  </div>
                  <!-- /modal body -->

                </div>
              </div>
