<% if current_user %>

<section class="container text-center">

      <nav class="nav-main pull-right" role="navigation">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             Профайл <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "Мой профайл", user_url(current_user) if current_user.city != nil %>
              </li>
              <li>
                <%= link_to "Изменить профайл", edit_user_url(current_user) %>
              </li>
            </ul>
          </li>

          <% if current_user.status == "promo" %>
            <% if current_user.invites_to_me.where(:see => false).count > 0 %>

              <li class="active">
                <%= link_to "Новые приглашения (#{current_user.invites_to_me.where(:see => false).count})", invites_user_path(current_user) %>
              </li>
            <% else %>
              <li>
                <%= link_to "Приглашения (#{current_user.invites_to_me.count})", invites_user_path(current_user) %>
              </li>
            <% end %>
          <% end %>

          <li>
            <% if current_user.status == "promo" %>
              <%= link_to "Мои отклики (#{current_user.replies.count})", replies_user_path(current_user) %>
            <% end %>
          </li>

          <% if current_user.status == "admin" || current_user.status == "agent" %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             Вакансии <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "Мои вакансии (#{current_user.vacancies.count})", "/my-vacancies.html" %>
              </li>
              <li>
                <%= link_to "Создать вакансию", new_vacancy_path %>
              </li>
            </ul>
          </li>

          <% if current_user.replies_to_me.where(:see => false).count > 0 %>

            <li class="active">
              <%= link_to "Новые отклики (#{current_user.replies_to_me.where(:see => false).count})", "/my-vacancies.html" %>
            </li>

          <% end %>

          <% end %>          

          <li>
            <% if current_user.status == "promo" %>
              <%= link_to "Работодатели (#{current_user.followers.count})", followers_user_path(current_user) %>
            <% else %>
              <%= link_to "Отобранные промоутеры (#{current_user.followed_users.count})", following_user_path(current_user) %>
            <% end %>
          </li>


          <li>
            <%= link_to "Мои отзывы (#{current_user.opinions.count})", opinions_path %>
          </li>

          <% if current_user.status == "admin" %>
            <li>
              <%= link_to "Статистика", "/statistika.html" %>
            </li>
          <% end %>

          <li class="active">
            <%= link_to "Выйти", "/users/sign_out" %>
          </li>
        </ul>
      </nav>

    <div class="divider"></div>
</section>

<% end %>