
<% if params[:city].blank? %>
  <% @url = "" %>
<% else %>
  <% @url = promo_city_path(:city => params[:city]) %>
<% end %>

<%= search_form_for @search, :url => @url do |f| %>

<div class="form-group">

                    <label><strong>Город (начните вводить название):</strong></label><br>

  <%= f.autocomplete_field 'city_id', autocomplete_city_name_users_path, :id_element => '#to_contact_id', :class => "form-control" %>
  <%= f.hidden_field :city_id_eq, :id => "to_contact_id" %>

                  </div>

  <div class="form-group">
    <label><strong>Укажите пол:</strong></label><br>
     <%= f.radio_button :gender_eq, "" %>
     <label>Не важно</label><br>
     <%= f.radio_button :gender_eq, "Женский" %> 
     <label>Женский</label><br>
     <%= f.radio_button :gender_eq, "Мужской" %>
     <label id="Label" for="CheckBox" class="CheckBoxLabelClass">Мужской</label>
  </div>

  <div class="form-group">
    <label><strong>Наличие медицинской книжки:</strong></label><br>
     <%= f.radio_button :med_eq, "" %>
     <label>Не важно</label><br>
     <%= f.radio_button :med_eq, true %> 
     <label>В наличии</label><br>
  </div>

  <div class="form-group">
    <label><strong>Укажите возраст:</strong></label>
    <%= f.text_field :age_lteq, :class => "form-control", :placeholder => "С" %><br>
    <%= f.text_field :age_gteq, :class => "form-control", :placeholder => "По" %>

  </div>

  <div class="actions"><%= f.submit "Найти", :class => "btn btn-primary" %></div>
<% end %>