		<!-- WRAPPER -->
		<div id="wrapper">

			<div id="shop">

				<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1>Sign In</h1>

						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Sign In</li>
						</ul>
					</div>
				</header>


				<section class="container">

					<div class="row">

						<!-- LOGIN -->
						<div class="col-md-6">

							<h2>Sign <strong>In</strong></h2>

							<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "white-row"}) do |f| %>

								<!-- alert failed -->
								<!-- alert failed -->
								<%= devise_error_messages! %>
								
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>E-mail Address</label>
											<%= f.text_field :email, :autofocus => true, :class => "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Password</label>
											<%= f.password_field :password, :class => "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<span class="remember-box checkbox">
											<label for="rememberme">
												  <% if devise_mapping.rememberable? -%>  
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>  
  <% end -%> 
											</label>
										</span>
									</div>
									<div class="col-md-6">
										<%= f.submit "Войти", :class => "btn btn-primary pull-right" %>
									</div>
								</div>
								<br>
<p>Вы также можете использовать Facebook и Вконтакте для входа на сайт</p>

<%= link_to(image_tag("/images/facebook.jpg"), user_omniauth_authorize_path(:facebook)) %>
<%= link_to(image_tag("/images/vk.png"), user_omniauth_authorize_path(:vkontakte)) %>
							<% end %>

						</div>
						<!-- /LOGIN -->

						<!-- PASSWORD -->
						<div class="col-md-6">

							<h2>Forgot <strong>Password</strong>?</h2>

							<div class="white-row">

								<p>
									Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo.
								</p>

								<!-- alert success -->
								<div class="alert alert-success">
									<i class="fa fa-check-circle"></i> 
									<strong>New Password Sent!</strong> Check your E-mail Address!
								</div>

								<!-- alert failed -->
								<div class="alert alert-danger">
									<i class="fa fa-frown-o"></i> 
									<strong>E-mail Address</strong> not found!
								</div>

								<!-- password form -->
								<label>Type your E-mail Address</label>
								<form class="input-group" method="post" action="#">
									<input type="text" class="form-control" name="s" id="s" value="" placeholder="E-mail Address" />
									<span class="input-group-btn">
										<button class="btn btn-primary">SEND</button>
									</span>
								</form>

							</div>

						</div>
						<!-- /PASSWORD -->

					</div>


					<p class="white-row">
						Don't have an account yet? <a href="/users/sign_up">Click to create one</a>, it's free!
					</p>

				</section>

			</div>
		</div>
		<!-- /WRAPPER -->
