<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section id="portfolio" class="container">

<% if current_user == @user && current_user.status == "agent" && Settings.status == "production" %>

        <h2><strong>Финансы</strong></h2>

        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-sm-5 col-md-7">
            <div class="controlls-over product-image">
              <div>
                <%= image_tag @user.avatar.url, :class => "img-responsive" %>
              </div>
            </div>

          </div>

          <div class="col-sm-7 col-md-5">

            <ul class="list-icon">
                <li><strong><i class='fa fa-certificate'></i> Средства на счёте:</strong> <%= money(current_user.pocket) %></li>
            </ul>

            <% if !current_user.calculation.blank? %>
              <% @calculation = current_user.calculation %>
              <br><br>
              <h3><strong>Ваши реквизиты</strong></h3>
              <ul class="list-icon">
                  <li><strong><i class='fa fa-certificate'></i> Наименование юридического лица: </strong> <%= @calculation.name %></li>
                  <li><strong><i class='fa fa-certificate'></i> ИНН: </strong> <%= @calculation.inn %></li>
                  <li><strong><i class='fa fa-certificate'></i> КПП: </strong> <%= @calculation.kpp %></li>
                  <li><strong><i class='fa fa-certificate'></i> Наименование банка: </strong> <%= @calculation.bank %></li>
                  <li><strong><i class='fa fa-certificate'></i> БИК: </strong> <%= @calculation.bik %></li>
                  <li><strong><i class='fa fa-certificate'></i> Корреспондентский счёт: </strong> <%= @calculation.ks %></li>
                  <li><strong><i class='fa fa-certificate'></i> Расчётный счёт: </strong> <%= @calculation.rs %></li>
                  <li><strong><i class='fa fa-certificate'></i> Почтовый адресс юридического лица: </strong> <%= @calculation.address %></li>
              </ul>
              <%= link_to "Изменить реквизиты", edit_calculation_path(current_user.calculation) %>
              <br>
            <% else %>
              <a href="#" data-toggle="modal" data-target="#essentials" class="btn btn-success">Заполните реквизиты для безналичного расчёта</a>
              <%= render "/shared/calculation" %>
            <% end %>


            <br>
            <% if params[:amount] %>
              <h3><strong>Проверьте реквизиты платежа</strong></h3>
            <% else %>
              <h3><strong>Пополнить счёт</strong></h3>
            <% end %>


<% if Settings.status == "production" %>

  <% if params[:amount] %>
    <strong>Ваш аккаунт:</strong> <%= current_user.name %><br>
    <strong>Оператор платежа:</strong> Робокасса<br>
    <strong>Сумма платёжа:</strong> <%= money(params[:amount]) %><br><br>

    <%= payment_service_for current_user.payments.last.id, "Allpromoters",
                          :amount => params[:amount],
                          :service => :robokassa,
                          :secret => "Allpromoters1" do |s| %>
      <div class="col-md-6">
        <%= submit_tag "Внести взнос On-Line", :class => "btn btn-success" %>
      </div>
    <% end %>
    <br><br><br>
      <div class="col-md-12">
          <% if current_user.calculation.blank? %>
            <a href="#" data-toggle="modal" data-target="#essentials" class="btn btn-success">Заполните реквизиты для безналичного расчёта</a>
            <%= render "/shared/calculation" %>
          <% else %>
              <%= form_for @payment, :url => {:controller => "payments", :action => "create" }, :class => "white-row" do |f| %>
                <%= f.hidden_field :amount, :value => params[:amount] %>
                <%= f.hidden_field :status, :value => 1 %>
                <%= f.submit :value => "Получить счёт для безналичного расчёта", :class => "btn btn-success" %>
              <% end %>
          <% end %>
      </div>
<br><br><br>
      <div class="col-md-12">
        <%= link_to "Изменить сумму", destroy_payment_path(params[:payment]), method: :delete, :class => "btn btn-warning" %>
      </div>
  <% else %>

    <%= form_for @payment, :url => {:controller => "payments", :action => "create" }, :class => "white-row" do |f| %>
              <div class="row">
                <div class="form-group has-success has-feedback">
                  <div class="input-group">
                    <%= f.number_field :amount, :value => 1000, :class => "form-control", :id =>"inputSuccess2" %>
                    <div class="input-group-addon"><strong>рублей</strong></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.submit :value => "Пополнить", :class => "btn btn-primary" %>
                </div>
              </div>
    <% end %>

  <% end %>

<% else %>
  <p>В настоящее время приложение работает в тестовом режиме. Приём платежей недоступен.</p>
<% end %>


<% if Settings.status == "production" && Settings.period_cost == "true" %>
  <br><br>
  <h3><strong>Купить доступ к базе контактов</strong></h3>
  <p>В ознакомительном режиме вы можете просматривать информацию о промоутерах без номеров телефонов. <strong>Для просмотра номеров вам необходимо купить платный доступ.</strong><br><br> Стоимость доступа на месяц составляет <%= money(Settings.period_price.to_i) %></p>
    <% if !current_user.periods.blank? %>
      <% if current_user.periods.last.finish_date < Date.today %>
        <strong>Ваш доступ истёк:</strong> <%= Russian::strftime(current_user.periods.last.finish_date, "%d %B %Y года") %><br>
      <% else %>
        <strong>Ваш доступ истекает:</strong> <%= Russian::strftime(current_user.periods.last.finish_date, "%d %B %Y года") %><br>
      <% end %>
    <% end %>

    <%= form_for @period, :url => {:controller => "payments", :action => "new_period" }, :class => "white-row" do |f| %>
              <div class="row">
                <div class="form-group has-warning has-feedback col-md-6">
                  <br><strong>Продлить доступ:</strong>
                  <div class="input-group col-md-6">
                     <%= f.select :finish_date, options_for_select([ 1, 2, 3, 4, 5, 6]), :class => "form-control col-md-12", :required => "required" %>
                    <div class="input-group-addon"><strong>месяцы</strong></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.submit :value => "Продлить", :class => "btn btn-primary" %>
                </div>
              </div>
    <% end %>

<% end %>

            <br>

</div>
</div>

        <div class="row">
          <div class="col-md-12">
            
<br><br>
<h3><strong>История платежей</strong></h3>


<%= grid(@payments) do |g|

  g.blank_slate  do
    content_tag :div, "  <strong>Пока вы не произвели ни одного платежа.</strong>".html_safe, class: 'alert alert-warning'
  end

  g.column name: 'Дата платежа' do |payment|
    Russian::strftime(payment.created_at, "%k:%M %d %B %Y")
  end

  g.column name: 'Сумма платежа' do |payment|
    money(payment.amount)
  end

  g.column name: 'Статус платежа' do |payment|
    payment_status(payment)
  end

  g.column name: 'Способ платежа' do |payment|
    payment_how(payment)
    link_to "Скачать", payment_path(payment, format: 'pdf')
  end  

end -%>


 

          </div></div>
<% else %>
  <p>Вы не можете просмотреть данную страницу.</p>
  <%= link_to "Вернуться на предыдущую", :back %>
<% end %>
      </section>

    </div></div>
    <!-- /WRAPPER -->